# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# SwiftPM
/.build
/Package.resolved

# Cocoapods
Pods/
Podfile.lock

# Node
node_modules/
package-lock.json

# logs
*.log

